<header>
  <img class="logo" src="/assets/logo.png" alt="{{ appTitle }}" (click)="navigateTo('/')"/>

  <nav>
    <button class="btn btn--primary-faded" (click)="triggerModal('history')">History</button>
    <button class="btn btn--primary" (click)="triggerModal('statistics')">Statistics</button>
  </nav>

  <div class="mobile-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="triggerModal('history')">History</button>
      <button mat-menu-item (click)="triggerModal('statistics')">Statistics</button>
    </mat-menu>
  </div>
</header>