* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

body {
    position: relative;
    min-height: 100vh;
}

a { text-decoration: none; }

ul, li { list-style: none; }

.btn {
    &:active,
    &:focus { box-shadow: none !important; }
}

:focus { outline: none; }