:host {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 64px auto;
  grid-row-gap: 16px;
}

.pdf-wrapper {
  overflow-y: scroll;
  width: 920px;
  margin: 0 auto;
  border: 1px solid black;
  position: relative;

  &__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.spacer {
  flex: 1 1 auto;
}
