<mat-toolbar  color="primary" role="toolbar">
  <a href="#">
    <img class="logo" _ngcontent-c2="" class="logo" src="/assets/logo.png">
  </a>
</mat-toolbar>
<mat-card class="files-container">
  <mat-card-header>
      <mat-card-title>Training files</mat-card-title>
  </mat-card-header>
  <mat-card-content >
    <mat-list dense>
      <mat-list-item *ngFor="let file of trainingFiles">
        <a matLine routerLink="/annotator/train/{{file}}">{{file}}</a>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
