:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.logo {
  width: 150px;
  vertical-align: middle;
}

.pdf-wrapper {
  background: #CCC;
  overflow: auto;
  width: 920px;
  margin: 0 auto;
  position: relative;
  flex: 1;

  &__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.spacer {
  flex: 1 1 auto;
}
