$color-red: rgb(255, 101, 101);
$color-green: rgba(39, 191, 100, 1);
$color-blue: #4b85ff;

$color-green-faded: rgba(39, 191, 100, .2);

$color-title: rgb(112, 112, 112);
$color-text: rgb(67, 66, 93);
$color-text-accent: rgb(59, 134, 255);
$color-text-secondary: rgb(127, 127, 127);

$color-background: rgb(255, 255, 255);
$color-table-header: rgb(245, 246, 250);

$color-border: rgb(215, 218, 226);

$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

// Shadows
$shadow-principal: 0 1px 1.5px 0 rgba(0, 0, 0, .05);
$shadow-subtle: 0 1px 3px 0 rgba(0, 0, 0, .04);
