.charts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .donut__chart-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 80px;
        height: 500px;
        width:500px;
    }

    .table {
        width: 60%;
        table {
        width: 100%;
        margin-bottom: 100px;}
    }

    .bar__chart-wrapper {
        width: 60%;
        height: 60%;
        margin-bottom:100px;
    }
}

 h2 {
     padding:100px 0 50px 110px;
     font-weight:bold;
     color:rgb(117, 116, 116)
 }

 p {
    padding-bottom: 30px;
    font-size: 20px;
 }
