@import '../../../styles/variables/colors';
@import '../../../styles/typography/typography';
h2,h3 {
    margin-top: 5%;
    margin-left: 15%
}
mat-list{
    width:100%;
    mat-list-item{
        width: 70%;
        margin: 1em auto 0 auto;
        .regular {
            color: $color-text;
        }
        h3 {
            color: $color-green;
        }
        h4, p {
            color: $color-blue;
        }
        .button {
            &--primary {
                &:hover {
                    background-color: $color-green-faded;
                    color: $color-green;
                    border: 1px solid $color-green;
                }
            }
        }
    }
}
