@import '../../../styles/variables/variables';
@import '../../../styles/layout/layout';

footer {
  @include responsive-container();
  padding: map-get($spacing, xxs) 0;
}

.copyrights {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    &:not(:last-of-type) {
      padding-right: map-get($spacing, xxs);
    }
  }
}

@media only screen and (max-width: $br-xs) {
  .copyrights {
    flex-flow: column-reverse;
  }
}