<div class="donut__chart">
  <div class="donut__chart-top">
    <p>Dummy chart</p>
    <mat-form-field>
      <select matNativeControl required>
        <ng-container *ngFor="let category of categories">
           <option value="category">{{category}}</option>
        </ng-container>
      </select>
    </mat-form-field>
  </div>
  <canvas baseChart 
    [data]="chartData" 
    [labels]="chartLabels" 
    [chartType]="chartType"
    [legend]="false" 
    (chartHover)="chartHovered($event)" ></canvas>
  </div>