.donut__chart {
    width: 350px;
    height: 350px;

    .donut__chart-top {
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
            margin-right: 20px;
            font-size:18px;
        }

        mat-form-field{
            width: 110px;
        }
    }
}