<main class="container">
  <div class="row upload-main">
    <div class="col-md-6 col-12 upload-main__upload">
      <div class="toggle">
        <span>
          <input class="tgl tgl-light" id="cb1" type="checkbox" />
          <label class="tgl-btn" for="cb1"></label>
        </span>
        <small>developer</small>
      </div>

      <file-drop customstyle="drag-drop" (onFileDrop)="dropped($event)">
        <span>Drag & drop</span>
        <label class="custom-file-upload">
          <input type="file" id="file" (change)="handleFileInput($event.target.files.item(0))">
        </label>
        <span *ngIf="fileToUpload">{{fileName}}</span>
      </file-drop>

    </div>
    <div class="col-md-6 col-12 upload-main__splash">
      <img src="../../../assets/splash.png">
    </div>
  </div>
</main>
